[submodule "submodules/opencv"]
	path = submodules/opencv
	url = https://github.com/opencv/opencv
[submodule "submodules/cpp-httplib"]
	path = submodules/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json.git
